*{
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	position: fixed;
}
.bg_img{
	background-image: url(../img/imag07.png);
	background-repeat: no-repeat;
	background-position:center 90px;
	background-size: 105%;
	
}
.loadin_bg{
	width: 78%;
	height: 67%;
	margin-top: 63%;
	margin-left: 11%;
	background-color: white;
	box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.3);
	border-radius: 28px;
	
}
.user{
	left: 29%;
	top: 988px;
	width: 48%;
	height: 69px;
	border: none;
	font-size: 220%;
}

.user_bg{
	left: 21%;
	top: 986px;
	width: 57%;
	height: 70px;
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(166, 166, 166, 1);
	border-radius: 20px;
}
.user_line{
	left: 28.8%;
	top: 986px;
	width: 0px;
	height: 70px;
	border: 1px solid rgba(166, 166, 166, 1);

}
.anser{
	left: 29%;
	top: 1131px;
	width: 48%;
	height: 67px;
	border: none;
	font-size: 220%;
}

.anser_bg{
	left: 21%;
	top: 1129px;
	width: 57%;
	height: 70px;
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(166, 166, 166, 1);
	border-radius: 20px;
}
.anser_line{
	left: 28.8%;
	top: 1129px;
	width: 0px;
	height: 70px;
	border: 1px solid rgba(166, 166, 166, 1);
}
.mima{
	left: 72.5%;
	top: 1149px;
	background-image: url(../img/Eye.png);
	background-repeat: no-repeat;
	background-size: 4.5%;
}
.btn{
	left: 21%;
	top: 1270px;
	width: 57%;
	height: 4.5%;
	background: linear-gradient(90deg, rgba(244, 198, 14, 1) 0%, rgba(255, 176, 97, 1) 100%);
	box-shadow: 0px 6px 8px rgba(0, 0, 0, .5);
	border-radius: 30px;
	font-size: 35px;
	border: none;
}
.btn:hover{
	left: 21%;
	top: 1270px;
	width: 57%;
	height: 4.5%;
	background: linear-gradient(90deg, rgba(244, 162, 19, 1.0) 0%, rgba(255, 163, 83, 1.0) 100%);
	box-shadow: 0px 6px 8px rgba(0, 0, 0, .5);
	border-radius: 30px;
	font-size: 35px;
	border: none;
	outline: none;
}
.yanzhenma_text{
	left: 42%;
	top: 1375px;
	width: 17%;
	height: 3%;
	background-color: #FFFFFF;
	border: none;
	font-size: 30px;
	outline: none;
}
.yanzhenma_text:hover{
	text-decoration: underline;
}
.zhuce{
	left: 21%;
	top: 1555px;
	width: 8.5%;
	height: 2.8%;
	background-color: #FFFFFF;
	border: none;
	font-size: 33px;
}
.zhuce:hover{
	text-decoration: underline;
}
.wanji{
	left: 62%;
	top: 1555px;
	width: 16%;
	height: 2.8%;
	background-color: #FFFFFF;
	border: none;
	font-size: 33px;
	outline: none;
}
.wanji:hover{
	text-decoration: underline;
}
.xiahua{
	left: 21%;
	top: 1635px;
	width: 57%;
	height: 0px;
	border: 0.5px solid rgba(166, 166, 166, 1);
}
.xiahua_text{
	left: 42.5%;
	top: 1638px;
	width: 57%;
	height: 0px;
	font-size: 20px;
}
input[type=search]::-webkit-search-cancel-button{
    -webkit-appearance: none; 
	position: relative; 
	height: 45px; 
	width: 45px; 
	border-radius: 50%; 
	background-image: url(../img/Cross.png);
	background-size: 100%;
}