*{
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .app{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
		position: fixed;
    }
	.header{
		height: 0%;
		font-size: 18px;
		margin-left: 86%;
	}
	.map_ban{
		margin-top: 51.5%;
		margin-left: 5%;
		background-image: url(../img/bg.png);
		background-repeat: no-repeat;
		background-size: 90%;
	}
	.map_bg_ban_exemple{
		height: 30%;
		background-image: url(../img/imag08.png);
		background-repeat: no-repeat;
		background-size: 55%;
		background-position: 38% 60%;
	}
	.user_bg{
		height: 10%;
	}
	.user{
		margin-top: 4.7%;
		margin-left: 23.2%;
		width: 48.5%;
		height: 25px;
		font-size: 100%;
		border: none;
	}
	.kon1{
		height: 0%;
	}
	.anser_bg{
		height: 10%;
	}
	.anser{
		margin-top: 4.7%;
		margin-left: 23.2%;
		width: 48.5%;
		height: 43%;
		font-size: 100%;
		border: none;
	}
    .btn{
		margin-top: 7%;
		margin-left: 14.5%;
    	width: 60%;
    	height: 6.5%;
    	background: linear-gradient(90deg, rgba(244, 198, 14, 1) 0%, rgba(255, 176, 97, 1) 100%);
    	box-shadow: 0px 4px 8px rgba(0, 0, 0, .5);
    	border-radius: 12px;
    	font-size: 15px;
    	border: none;
    }
    .btn:hover{
    	margin-top: 10%;
    	margin-left: 15%;
    	width: 60%;
    	height: 8%;
    	background: linear-gradient(90deg, rgba(244, 162, 19, 1.0) 0%, rgba(255, 163, 83, 1.0) 100%);
    	box-shadow: 0px 4px 8px rgba(0, 0, 0, .5);
    	border-radius: 12px;
    	font-size: 15px;
    	border: none;
    	outline: none;
    }
	.xian{
		
	}